
<body>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

    <!------ First Row -------->
    <div class="row first_row">
      <div class="col-md-12">
        <div>
          <img src="../assets/HogwartsCrest.png">
        </div>
        <p>"It's our choices that show what we truly are, far more than our abilities"</p>
      </div>
    </div>

    <!------ Second Row -------->
    <div class="row second_row ">
      <div class="col-md-4">
        <div class="harry"></div>
      </div>
      <div class="col-md-4">
        <div class="herm"></div>
      </div>
      <div class="col-md-4">
        <div class="ron"></div>
      </div>
    </div>

    <!------ Third Row -------->
    <div class="row third_row">
      <div class="col-md-3">
        <div class="gry"></div>
      </div>
      <div class="col-md-3">
        <div class="rav"></div>
      </div>
      <div class="col-md-3">
        <div class="huf"></div>
      </div>
      <div class="col-md-3">
        <div class="sly"></div>
      </div>
    </div>

<!--<div class="row third_row">-->
  <!--<div class="col-md-12">-->
    <!---->

    <!---->
  <!--</div>-->
<!--</div>-->
</body>